---
- name: Check if temp folder exist on target hosts
  stat: path=/tmp/genrpm
  register: tempdir_existed

- name: Remove temp folder if exist
  file: path=/tmp/genrpm state=absent
  when: tempdir_existed.stat.exists == true

- name: Create temp foler for deploy nodes
  file: path=/tmp/genrpm state=directory  
  
- name: Copy gen_rpm scripts to tmp folder on deploy nodes
  copy: src=generate_rpms.sh dest=/tmp/genrpm